body{
    margin: 0px;
    font-family: 'Nunito', sans-serif;
}
h1{
    font-size: 40px;
}
.name-highlight{
    color: orange;
} 
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.top-banner{
    background-image: url("image/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
}
.link-button{
    text-decoration: none;
    background-color: tomato;
    padding: 10px 20px;
    font-weight: bold;
    color: white;
    border-radius: 10px;
}
